
* { box-sizing: border-box; }
.news-body {
  font-size: clamp(0.75rem, 0.5156rem + 0.75vw, 0.9375rem);}

@media (min-width: 300px) {
  .logo {
    width: 350px;
    display: inline-block;
    padding-bottom: 0.3125rem;
    margin-right: 3rem;
    text-align: center;
  }
}

@media (min-width: 900px) {
  .logo {
    width: 500px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.3125rem;
    margin-right: 3rem;
    text-align: center;
  }
}

@media (min-width: 200px) and (max-width: 900px) {

  .announcement-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
  }

  .announcement-container .news {
    width: 100%;
    background: var(--black);
    padding: 10px 2%;
    color: var(--white);
  }

  .announcement-container .news ul {
    display: flex;
    list-style: none;
    margin: 0;
    animation: scroll 25s infinite linear;
  }

  .announcement-container .news ul:hover {
    animation-play-state: paused;
  }

  .announcement-container .news ul li {
    white-space: nowrap;
    padding: 0px 24px;
    color: white;
    position: relative;
    font-size: 15px;
  }

  .announcement-container .news ul li::after {
    content: "";
    width: 1px;
    height: 100%;
    background: #b8b8b8;
    position: absolute;
    top: 0;
    right: 0;
  }

  .announcement-container .news ul li:last-child::after {
    display: none;
  }

  .announcement-container .title {
    display: none;
  }

  .announcement-container .announce {
    width: 100%;
    text-align: center;
    background: var(--orange);
    padding: 10px 2%;
    position: relative;
    color: white;
    font-size: 20px;
    margin: 0;
  }

  @keyframes scroll {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(-1083px);

    }
  }
}

@media (min-width: 900px) and (max-width: 2000px) {

  .announcement-container .announce {
    display: none;
  }

  .announcement-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
  }

  .announcement-container .news {
    width: 80%;
    background: var(--black);
    padding: 10px 2%;
  }

  .announcement-container .news ul {
    display: flex;
    list-style: none;
    margin: 0;
    animation: scroll 25s infinite linear;
  }

  .announcement-container .news ul:hover {
    animation-play-state: paused;
  }

  .announcement-container .news ul li {
    white-space: nowrap;
    padding: 10px 24px;
    color: white;
    position: relative;
  }

  .announcement-container .news ul li::after {
    content: "";
    width: 1px;
    height: 100%;
    background: #b8b8b8;
    position: absolute;
    top: 0;
    right: 0;
  }

  .announcement-container .news ul li:last-child::after {
    display: none;
  }

  .announcement-container .title {
    width: 20%;
    text-align: center;
    background: var(--black);
    position: relative;
    color: white;
    z-index: 200;
  }


  @keyframes scroll {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(-1083px);

    }
  }
}

/* TITLE */
.heading-title{
  border-top: 2px solid  #fd7e14;
  align-items: center;
}
.heading-title span{
  font-size: clamp(1.25rem, 0.4688rem + 2.5vw, 1.875rem);
  font-weight: 600;
  line-height: 1.2;
}
.title-image{
  height:30px;
  padding: 0px 20px;
}


/* faqs */
.faq {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Organization */

@media (min-width: 300px) {
  .btn-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
}

@media (min-width: 900px) {
  .btn-icon {
    width: 77px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
}

/* Team */

.team-member img {
  width: 125px;
  height: 125px;
  border-radius: 100px;
}

/* Contact */

@media (min-width: 200px) {
  .con-name {
    margin-top: 10px;
  }
}

@media (min-width: 900px) {
  .con-name {
    margin-top: 25px;
  }
}

/** how_it section **/
.width {
  width: 25%;
}

.important {
  background-color: #fff;
  padding-top: 90px;
}

.important .titlepage {
  text-align: center;
}

.important .titlepage span {
  padding-top: 30px;
  display: inline-block;
  font-size: 17px;
}

.important_bg {
  background: #0d1128;
  padding: 60px 0px;
}

.important_bg .important_box {
  text-align: center;
}

.important_bg .important_box h3 {
  color: #f4b328;
  font-size: 46px;
  line-height: 46px;
  font-weight: bold;
  padding: 0;
}

.important_bg .important_box h3:hover {
  color: #fff;
}

.important_bg .important_box span:hover {
  color: #fff;
}

.important_bg .important_box span {
  font-size: 29px;
  line-height: 26px;
  color: #f4b328;
  padding-top: 20px;
  font-weight: 400;
  display: inline-block;
}

.important .important_box a {
  font-size: 16px;
  border: #fff solid 1px;
  background-color: #000;
  color: #fff;
  padding: 10px 27px;
  display: inline-block;
}

.important .Games a:hover {
  background-color: #ff0000;
  border: #ff0000 solid 1px;
  color: #fff;
}

/** end important section **/

/* album */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.album-img {
  object-fit: cover;
}

/* mission vision */
.hmv-box {
  padding: 60px 0px;
}

.inner-hmv {
  padding: 15px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, .1);
  position: relative;
  overflow: hidden;
}

.icon-box-hmv {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 3px solid #4babb1;
  border-radius: 6px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.icon-box-hmv i {
  font-size: 60px;
  color: #eea412;
  text-align: center;
}

.inner-hmv h3 {
  font-size: 28px;
  text-align: center;
  color: #212121;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 0px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 200px) {
  .inner-hmv p {
    margin: 0px;
    font-size: 12px;
  }
}

@media (min-width: 900px) {
  .inner-hmv p {
    margin: 0px;
    font-size: 16px;
  }
}

.inner-hmv:hover .icon-box-hmv {
  border: 3px solid #eea412;

}

.inner-hmv:hover .icon-box-hmv i {
  color: #4babb1;
}

.inner-hmv:hover h3 {
  color: #eea412;
}

.tr-pa {
  font-size: 170px;
  color: #fbfbfb;
  position: absolute;
  top: -20px;
  right: -10px;
  line-height: 125px;
  font-weight: 700;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.inner-hmv:hover .tr-pa {
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* NEUST MARCH */
/* .logo_section .logo_container {
  -webkit-box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  text-align: justify;
}

@media (min-width: 300px) 
{

  .layout_padding {
      padding: 50px 30px;
  }
  .march-title{
    text-align: center;
    letter-spacing: 0px;
  }
  .march-content{
    font-size: 12px;
  }
}

@media (min-width: 767px) 
{

  .layout_padding {
      padding: 50px 70px;
  }
  .march-title{
    text-align: center;
    letter-spacing: 10px;
  }
}  

@media (min-width: 992px) 
{
  .march-video{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .layout_padding {
      padding: 50px 100px;
      margin: 10px 50px;
  }
  .march-title{
    text-align: center;
    letter-spacing: 10px;
  }
  .march-content{
    padding: 10px 10px;
    font-size: 17px;
  }
} */

@media only screen and (min-width: 320px) {

  .march-iframe {
    height: 13em;
  }

}

@media only screen and (min-width: 768px) {
  .march-container {
    margin-right: auto;
    margin-left: auto;
  }

  .march-iframe {
    height: 13em;
  }

  .march-card {
    width: 70%;
  }
}

/* ACOORDION */

.myaccordion {
  margin: 0 auto;
  border-radius: 0;
  overflow: hidden;
}

.myaccordion .card {
  margin-bottom: 20px;
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
  background: transparent;
}

.myaccordion .card-header {
  border: none;
  background: transparent;
}

.myaccordion .card-header .heading {
  position: relative;
  font-weight: 300;
  z-index: 0;
}

.myaccordion .card-header .heading h3 {
  font-size: 16px;
  margin-bottom: 0;
  text-align: left;
}

.myaccordion .fa {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.myaccordion .btn {
  width: 100%;
  font-weight: normal;
  color: #000;
  padding: 0;
  letter-spacing: 0;
  font-size: 18px;
  border-radius: 0 !important;
  border: none;
  position: relative;
  -webkit-box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.32);
}

.myaccordion .btn .icon {
  width: 60px;
  height: 60px;
  z-index: 0;
  background: #fd7e14;
}

.myaccordion .btn .icon i {
  font-size: 20px;
  color: #fff;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}

[data-toggle="collapse"] .fa:before {
  content: "\f1fc";
  font-family: "Ionicons";
  font-style: normal;
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f102";
  font-family: "Ionicons";
  font-style: normal;
}

button[aria-expanded="true"] {
  color: #000 !important;
  background: #fd7e14 !important;
  -webkit-box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.5) !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  button[aria-expanded="true"] {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

button[aria-expanded="true"] h3 {
  color: #fff;
}

button[aria-expanded="true"] .icon {
  background: #fff !important;
}

button[aria-expanded="true"] .fa {
  color: #fd7e14 !important;
}

button[aria-expanded="false"] {
  background-color: #fff;
}

.card-body {
  background: #fff;
  margin-bottom: 1px;
  -webkit-box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 7px 24px -19px rgba(0, 0, 0, 0.22);
}

@media (max-width: 767.98px) {
  .card-body .img {
    height: 200px;
    margin-bottom: 20px;
  }
}

/* IMAGE SLIDER */
@media (min-width: 567px) {
  .carousel {
    width: 100vw;
    height: 75vh;
    position: relative;
  }
}
@media (min-width: 200px) {
  .carousel {
    width: 100vw;
    height: 50vh;
    position: relative;
  }
}
@media (min-width: 992px) {
  .carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
}


.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

/* UNIVERSITY GALLERY */


#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.column{
	width: 900px;
	padding: 10px;
}

#featured{
	max-width: 900px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid black;

}

.thumbnail{
	object-fit: cover;
	max-width: 200px;
	max-height: 150px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid black;

}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	max-width: 1200px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider{
	width: 1200px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

#slider::-webkit-scrollbar {
		width: 8px;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}
 
#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
   border-radius: 100px;

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: #18b5ce;
}

.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}


/* Announcement Details */


.post-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem !important;
}

.filter-item{
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

.active-filter{
  background: #fd7e14;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
}

.post{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.5rem;
}

.post-box{
  background: #fff;
  box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
  padding: 15px;
  border-radius: 0.5rem;
}

.post-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.category{
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fd7e14;
}

.post-title{
  font-size: 1.1rem;
  font-weight: 600;
  color: #172317;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-date{
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-top: 4px;
  font-weight: 400;
  
}

.post-description{
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.profile{
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid #fd7e14;
}

.profile-name{
  font-size: .8rem;
  font-weight: 500;
}

/* News and Detail Search Bar */
.search-container{
  background: #fff;
  box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
  padding: 5px;
  border-radius: 0.9rem;
  width: 100%;
}

.NewsDetailForm{
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

.NewsDetailForm .form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
}

.NewsDetailForm input{
  width: 60%;
  border: none;
  outline: none;
}

.NewsDetailForm button{
  background: #fd7e14;
  border: none;
  outline: none;
  color: white;
  width: 20%;
}

.NewsDetailForm .fa-search{
 align-self:center;
 padding: 10px 20px;
 color:#fd7e14;
 font-size:20px;
}

.NewsDetailForm .results{
 position:absolute;
 margin-top: 60px;
 background: #fff;
 box-shadow: 0 4px 14px hsl(35deg 25% 15% / 10%);
 padding: 5px;
 border-radius: 0.5rem;
 width: 100%;
 }
 .NewsDetailForm a{
  color:#000;
  }
 .NewsDetailForm a:hover{
  color:#fd7e14;
  }